# === STM32CubeIDE build files ===
/Debug/
/Release/
*.o
*.d
*.elf
*.map
*.bin
*.hex
*.list
*.dep


# === CubeMX backup and auto-save ===
*.ioc.backup
*.ioc~*

# === Log and temp ===
*.log
*.tmp
*.bak
*~
*.swp
*.swo

# === System trash ===
.DS_Store
Thumbs.db
